TMDB_API_KEY =
OMDB_API_KEY =

AIRFLOW_UID=0
ELASTICSEARCH_HOST=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elastic
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TRENDING_TOPIC=movie_trending_events
KAFKA_TRENDING_CONSUMER_GROUP=movie_trending_realtime_indexer_v1
REALTIME_TRENDING_LIMIT=100
MAX_MOVIES_FOR_DETAILS=200
